@import 'vars';


.header {
    background-color: darkorchid;
    & &__menu {
        display: inline;
        
        ul{
            li{
                a{
                    color:$colorpricipal;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.info{
        background-color: gold;
        
        h1 {
            font: {
                family:sans-serif;
                weight: 700;
            }
        }
    }
}

.foto {

   
    background-color: mediumblue;
    display: grid;

    & &__imagen {
        position: center;
        place-items: center;
        padding: 10px;
        margin: 10px;
        height: auto;

    }
}